<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>CardCast</title>
    <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css"/>
    <script src="js/angular.min.js"></script>
    <script src="js/angular.route.min.js"></script>
    <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>
    <script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
  </head>
  <body ng-controller="HouseCtrl"
        class="house">
    <img src="https://raw2.github.com/reedlabotz/euchre/master/client/src/img/cards.png">
    <h1>Card Cast</h1>
    <div ng-if="loading"
         class="gameId">Loading...</div>
    <div ng-if="!loading"
         class="game-id">
      http://cards.reedlabotz.com/#<strong>{{ id }}</strong>
    </div>
    <div class="players">
      <div class="player-name"
           ng-repeat="p in players"
           ng-if="p.name">{{ p.name }}</div>
    </div>
  </body>
</html>
