<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta name="viewport" content="width=1920, height=1080, user-scalable=no">
    <title>CardCast</title>
    <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css"/>
    <script src="js/angular.min.js"></script>
    <script src="js/angular.route.min.js"></script>
    <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>
    <script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
  </head>
  <body ng-controller="HouseCtrl"
        class="house">
    <div ng-if="loadingMessage"
         class="loading">
      <div class="loader"></div>
      {{ loadingMessage }}
    </div>
    <div ng-if="templateUrl"
         class="container" ng-include src="templateUrl"></div>
  </body>
</html>
