@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

@dark: #ccc;
@light: #ddd;
@white: #fff;
@black: #000;

html, body {
  margin: 0;
  padding: 0;
  background: @light;
  font-family: @font-family-sans-serif;
}

